<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <h1><%- ram.name %></h1>
    <h1><%- ram.age %></h1>
    <h1><%- ram.location %></h1>
    <h1><%- laxman.country %></h1>
    <h1><%- laxman.nickName %></h1>
    <h1><%- laxman.continent %></h1>
    

    
</body>
</html>